<!-------------------------------------------------------->
{% extends "master1.html" %}


{% load static %}

{% block title %}
    LinkedIn | Default
{% endblock %}

{% block errorBlock %}
    <!----- No error Box in that page ---->
{% endblock %}

{% block bodyMidllepart %}
    <div class="main-content"  >
        <!----------------------------------------------->

        <h1 id="def">Default Page for Links</h1>
        <!----------------------------------------------->
    </div>
{% endblock %}

<!-------------------------------------------------------->