{% extends 'master2.html' %}
{% load static %}


{% block title %}World's Largest Professional Network | LinkedIn{% endblock %}

{% block includeStyles %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/screen4(joinIn).css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/api_email.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/reg_page2.css" %}" />

{% endblock %}

{% block rightLinks %}
{% endblock %}

{% block whiteBoxContainer %}
    <div class="reg2-header">
        <div class="bottom-border-header">
            <h1 class="Blue-Text"><strong>Grow your network on LinkedIn</strong></h1>
        </div>
        <div>
            <div>

                    <div class="main_box" >
                        <div id="content_part">
                            <p class="introduction">
                                Add your email address to retrieve Password.
                            </p>

                            <form method="post" action="/resetting/">{% csrf_token %}
                                <div id="form_part" style="font-weight: bold; margin-left: 15px;">
                                    <div>
                                    <div id="">
                                    <label id=labels>New Password :</label>
                                    </div>
                                     <div style="height: 10px;">
{#                                    <span class="error">{{ form.country.errors }}</span>#}
                                    <input id="new_pass" type="password" name="password_new"> </input>
                                    </div>
                                        </div>
                                    <div style="margin-top: 25px">
                                    <div id="">
                                    <label id=labels>Confirm New Password :</label>
                                    </div>
                                        </div>
                                    <div style="height: 10px;">
{#                                    <span class="error">{{ form.country.errors }}</span>#}
                                    <input id="confirm_pass" type="password" name="password_confirm"> </input>
                                    </div>

                                    <input type="hidden" name="random_no" value="{{ random }}">

                                </div>
                                <div id="continue-button" style="margin-left:72px;"><span><input id="mustin" type="submit" value="Continue"></span></div>
                            </form>
                        <div class="clear"></div>
                        <label class="hide empty" >empty label:</label>
                        <div>

                        </div>
                    </div>

{#                     <div id="skipping"><a href="/final-step/" >Skip this step</a></div>#}
            </div>

        </div>
    </div>
 </div>
{% endblock %}

{% block userAgreement %}

{% endblock %}