{% extends 'master2.html' %}
{% load static %}

{% block title %}World's Largest Professional Network | LinkedIn{% endblock %}

{% block includeStyles %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/screen4(joinIn).css" %}" />
{% endblock %}

{% block rightLinks %}
    <li>
        Already on LinkedIn? <a href="/sign-in/">Sign in</a>
    </li>
{% endblock %}

{% block whiteBoxContainer %}
    <div class="join-in-header">
        <h1>To join LinkedIn, sign up below...it's free!</h1>
    </div>
    <div id="middle-body-container">
        <div class="left-body-container">
            <form action="/join-in/" method="post">{% csrf_token %}
                <label>First Name:</label>
                <div>
                    <span id="f_name-error" class="error">{{ form.first_name.errors }}</span>
                    {{ form.first_name }}
                </div>
                <label>Last Name:</label>
                <div>
                    <span id="l_name-error" class="error">{{ form.last_name.errors }}</span>
                    {{ form.last_name }}
                </div>
                <label>Email:</label>
                <div>
                    <span id="e-error" class="error">{{ form.email.errors }}</span>
                    {{ form.email }}
                </div>
                <label>New Password:</label>
                <div>
                    <span id="p-error" class="error">{{ form.password.errors }}</span>
                    {{ form.password }}
                </div>
                <label class="hide empty">empty label</label>
                <div class="small-text-gray">
                    6 or more characters
                </div>
                <div id="submit-button">
                    <input id="submit-join-form-main-page" class="btn-tertiary" type="submit" value="Join LinkedIn" /> <span title="By clicking Join LinkedIn, you are indicating that you have read, understood, and agree to LinkedIn's User Agreement and Privacy Policy">*</span>
                </div>
            </form>
            <p>Already on LinkedIn? <a href="/sign-in/">Sign in</a></p>
        </div>
        <div class="right-body-container">
            <img src="{% static "assets/images/Untitled.png" %}" />
            <p class="actions">
                <a  class="fb" href="/default-for-links/">
                    <span class="fb_text">Sign up with Facebook</span>
                </a>
                <span title="By clicking Join LinkedIn, you are indicating that you have read, understood, and agree to LinkedIn's User Agreement and Privacy Policy">*</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block userAgreement %}
    <div id="termsAgreement">
        <p class="small-text-gray">* By joining LinkedIn, you agree to LinkedIn's <a href="/user-agreement/">User Agreement</a>, <a href="/privacy-policy/">Privacy Policy</a> and <a href="/cookie-policy/">Cookie Policy</a></p>
    </div>
{% endblock %}