<!----------------------------------------------------------------------------->
{% extends 'master1.html' %}
{% load static %}

{% block title %}
    What is LinkedIN
{% endblock %}

{% block includeStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/screen3Styles(WhatIsLinkedIN).css" %}" />
{% endblock %}

{% block errorBlock %}
    <!----No Need of Error Box--->
{% endblock %}

{% block bodyMidllepart %}
    <div class="main-content">
        <div class="white-box" >
            <h1 class="text-center">
                <p>The world's largest professional network:</p> 225 million strong.
            </h1>
            <div class="info-box-container">
                <div  class="info-box">
                    <h2 class="text-center">Connect. Find. Be found.</h2>
                    <div class="info-back" id="info-1"></div>
                    <p class="text-center info-summary">Build your professional identity online and stay in touch with colleagues and classmates.</p>
                    <br />
                </div>
                <div  class="info-box">
                    <h2 class="text-center">Power your career.</h2>
                    <div class="info-back" id="info-2"></div>
                    <p class="text-center info-summary">Discover professional opportunities, business deals, and new ventures.</p>
                    <br />
                </div>
                <div id="last-info-box"  class="info-box" >
                    <h2 class="text-center">Learn and share.</h2>
                    <div class="info-back" id="info-3"></div>
                    <p class="text-center info-summary">Get the latest news, inspiration, and insights you need to be great at what you do.</p>
                    <br />
                </div>
            </div>
            <div class="join-now-button">
                <p>it's free.</p>
                <a href="/join-in/">Join now</a>
            </div>
        </div>
        <!----------------------------------------------->
    </div>
{% endblock %}
<!----------------------------------------------------------------------------->
